.landing-heroImg {
	margin-top: 5vh;
	height: 80vh;
	width: 100%;
	background-image: url(../../img/landing-banner.png);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.landing-headerText {
	font-size: 1em;
	color: #29434e;
	font-family: "Montserrat";
}

.landing-highlight {
	background: linear-gradient(to top, #546e7a85 40%, transparent 40%);
}

.landing-bottom-link {
	min-height: 5vh;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

.landing-link {
	text-decoration: none;
	margin: 1em 0;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 0.8em;
	background: linear-gradient(to top, #546e7a65 40%, transparent 40%);
}

.landing-light-text {
	font-family: "Montserrat";
	font-size: 0.8em;
	color: #535353;
}

@media (max-width: 1024px) {
	.landing-heroImg {
		height: 40vh;
		width: 100%;
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}

@media (max-width: 540px) {
	.landing-heroImg {
		height: 80vh;
		width: 100%;
		background-image: url(../../img/landing-banner-small-screen.png);
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
