.landing-heroImg {
	margin-top: 5vh;
	margin-bottom: 5em;
	height: 80vh;
	width: 100%;
	background-image: url(../../img/landing-banner.png);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.landing-headerText {
	font-size: 1em;
	color: #29434e;
	font-family: "Montserrat";
}

.landing-highlight {
	background: linear-gradient(to top, #546e7a65 40%, transparent 40%);
}

.landing-bottom-link {
	min-height: 5vh;
	width: 100%;
	text-align: center;
}

.landing-link {
	text-decoration: none;
	margin: 1em 0;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 0.8em;
	background: linear-gradient(to top, #546e7a65 40%, transparent 40%);
}

.landing-light-text {
	font-family: "Montserrat";
	font-size: 0.8em;
	color: #535353;
}

.landing-outer-container {
	margin-bottom: 0vh;
	text-align: center;
}
.landing-project-img {
	width: 90%;
	height: 200px;
	object-fit: scale-down;
	margin-bottom: 10px;
	/* padding: 5px; */
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05) inset;
}

.landing-description-container {
	padding: 0 1.5em;
	margin-bottom: 2em;
}

.landing-full-name {
	margin: 0.2em 0.5em;
	font-family: "montserrat";
}

.landing-title {
	margin: 0.2em 0.5em;
}

.landing-sign-up-link {
	font-family: "montserrat";
	font-weight: 200;
	color: #535353;
	cursor: pointer;
}

@media (max-width: 1024px) {
	.landing-heroImg {
		height: 40vh;
		width: 100%;
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}

@media (max-width: 800px) {
	.landing-heroImg {
		margin-bottom: 3em;
	}
	.landing-description-container {
		padding: 0;
	}
	.landing-project-img {
		width: 90%;
		height: 200px;
	}
}

@media (max-width: 600px) {
	.landing-heroImg {
		margin-top: 10vh;
		margin-bottom: 2em;
		height: 80vh;
		width: 100%;
		background-image: url(../../img/landing-banner-small-screen.png);
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.landing-project-img {
		width: 90%;
		height: 220px;
	}
	.landing-description-container {
		padding: 0 1.5em;
	}
}
