.profile-switch-label {
	font-size: 0.8em;
	padding: 0 1em;
	letter-spacing: 0.2em;
	color: #535353;
}

.profile-view-personal-details-container {
	margin-top: 11vh;
	margin-bottom: 3em;
}

.profile-view-grid-item {
	min-height: 10vh;
}

.profile-view-full-name {
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 2.5em;
	letter-spacing: 0.2em;
	color: #363636;
	margin: 1em 0 0 0;
}

.profile-view-profile-pic-outer-container {
	padding-left: 1em;
}

.profile-view-profile-pic-container {
	text-align: left;
	/* padding-left: 2em; */
}

.profile-view-user-img {
	height: 160px;
	width: 160px;
	object-fit: cover;
}

.profile-view-light-text {
	font-family: "Montserrat";
	color: #535353;
	font-size: 0.8em;
	letter-spacing: 0.2em;
}

.profile-view-light-text-inline {
	color: #535353;
	padding: 0 0.4em;
}

.profile-view-title-text {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(180deg);
	font-family: "Montserrat";
	color: #535353;
	margin: 1em 0em;
	letter-spacing: 0.1em;
}

.profile-view-summary-container {
	margin-bottom: 3em;
}

.profile-view-icons-grid {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	text-align: center;
}

.profile-view-link-icons {
	width: 2.5em;
	margin: 0.5em;
}

.profile-view-title-text-projects {
	font-family: "Montserrat";
	font-size: 2em;
	color: #535353;
	margin: 1em 2.5em;
	letter-spacing: 0.1em;
}

.profile-view-about-me-section {
	width: 50vw;
	display: flex;
}

.profile-view-outermost-container {
	justify-content: center;
}

/* contact pop up div */
.profile-view-contact-pop-up {
	height: auto;
	width: 30vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: rgba(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	z-index: 5;

	text-align: center;
}

.profile-view-textField {
	width: 90%;
}

@media (max-width: 1024px) {
	.profile-view-personal-details-container {
		margin-top: 8vh;
		margin-bottom: 3em;
	}

	.profile-view-profile-pic-container {
		text-align: left;
	}

	.profile-view-link-icons {
		width: 2em;
		margin: 0.2em 0.5em;
	}

	.profile-view-about-me-section {
		width: 75vw;
		display: flex;
		justify-content: flex-end;
	}

	.profile-view-summary-container {
		margin-bottom: 10vh;
	}

	.profile-view-title-text {
		margin: 1em 0em 1em -0.8em;
	}
}

@media (max-width: 768px) {
	.profile-view-full-name {
		font-size: 1.8em;
	}

	.profile-view-user-img {
		margin-bottom: 1.2em;
	}

	.profile-view-link-icons {
		width: 1.6em;
		margin: 0.2em 0.5em;
	}

	.profile-view-title-text-projects {
		margin: 1em;
	}

	.profile-view-outermost-container {
		justify-content: space-evenly;
	}

	.profile-view-title-text {
		margin: 1em 0em 1em -0.8em;
	}
}

@media (max-width: 500px) {
	.profile-view-user-img {
		height: 100px;
		width: 100px;
		object-fit: cover;
		margin-bottom: 0;
	}

	.profile-view-full-name {
		font-size: 2em;
		margin-top: 0.5em;
	}

	.profile-view-personal-details-container {
		margin-top: 5vh;
		margin-bottom: 0vh;
	}
	.profile-view-name-container {
		padding-bottom: 2em;
	}

	.profile-view-icons-grid {
		/* writing-mode: horizontal-tb; */
		padding-left: 1em;
	}

	.profile-view-link-icons {
		margin: 0.5em;
	}

	.profile-view-about-me-section {
		width: 95vw;
		display: flex;
		justify-content: center;
	}

	.profile-view-title-text {
		margin: 1em 0;
	}
}

/* EDIT */
.profile-edit-user-img {
	height: 160px;
	width: 160px;
	object-fit: cover;
}

.profile-edit-textField {
	width: 90%;
}

.profile-edit-text {
	font-family: "Montserrat";
	color: #535353;
	font-size: 1em;
}

.profile-edit-summary-container {
	margin-top: 2em;
}

.profile-edit-light-text {
	font-family: "Montserrat";
	color: #535353;
	font-size: 0.8em;
	letter-spacing: 0.2em;
}

.profile-edit-profile-pic-buttons-container {
	width: 100%;
	margin: 1em 0;
	padding: 0 1em;
	text-align: center;
}

.profile-edit-profile-pic-upload-filename {
	font-size: 0.8em;
	font-family: "Montserrat";
	color: #535353;
}

@media (max-width: 1024px) {
	.profile-edit-user-img {
		height: 120px;
		width: 120px;
		object-fit: cover;
		margin-bottom: 1.2em;
	}
	.profile-edit-profile-pic-buttons-container {
		margin: 0em;
	}
}

@media (max-width: 768px) {
	.profile-edit-user-img {
		height: 80px;
		width: 80px;
		object-fit: cover;
		margin-bottom: 1.2em;
	}
	.profile-edit-profile-pic-upload-filename {
		font-size: 0.7em;
	}
	.profile-edit-profile-pic-buttons-container {
		margin: 0em;
	}
}

@media (max-width: 600px) {
	.profile-edit-personal-details-container {
		margin-top: 3em;
	}

	.profile-edit-name-container {
		justify-content: center;
		padding: 0 1em;
	}

	.profile-edit-textField {
		width: 100%;
	}

	.profile-edit-summary-container {
		margin-top: 2em;
		justify-content: center;
	}

	.profile-edit-light-text {
		padding-left: 2em;
	}

	.profile-edit-user-img {
		height: 100px;
		width: 100px;
		object-fit: cover;
		margin-bottom: 0;
		margin-left: 1.2em;
	}

	.profile-edit-profile-pic-upload-filename {
		font-size: 0.8em;
	}
}

/* contact div media query */
@media (max-width: 1280px) {
	.profile-view-contact-pop-up {
		width: 50vw;
		height: auto;
	}
}

@media (max-width: 960px) {
	.profile-view-contact-pop-up {
		width: 50vw;
		height: auto;
	}
}

@media (max-width: 600px) {
	.profile-view-contact-pop-up {
		width: 95vw;
		height: auto;
	}
}
