.signUp-grid-container {
	margin-top: 15vh;
}

.signUp-grid-item {
	margin: 0;
}

.signUp-form {
	width: 100vw;
	display: flex;
	justify-content: center;
}

.signUp-highlight {
	background: linear-gradient(to top, #546e7a85 40%, transparent 40%);
}

.signUp-icons-social {
	cursor: pointer;
	margin: 0 1em;
	width: 2em;
}

@media (max-width: 600px) {
	.signUp-grid-container {
		margin: 10vh 0;
	}
	.signUp-form {
		width: 90vw;
	}
}
